/* Write your CSS here */
.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item-money {
  list-style-type: none;
  border-radius: 15px;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.balance-border-background {
  background-color: #ecfccb;
  border: 2px solid #84cc16;
}

.income-border-background {
  background-color: #cffafe;
  border: 2px solid #06b6d4;
}

.expenses-border-background {
  background-color: #ede9fe;
  border: 2px solid #7c3aed;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.money-img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.amount-text-para {
  font-weight: 500;
  font-size: 20px;
}

.amount-para {
  font-weight: 500;
  font-size: 30px;
}
